<mat-card class="example-card" *ngFor="let product of allProducts">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-title (click)="goTo(product.id)">{{product.name}}</mat-card-title>
    <mat-card-content>
        <p>
            {{product.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>Add to cart</button>
        <!-- <button mat-raised-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>
