<form #f (ngSubmit)="onCheckout(f)">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="name"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" name="email" [(ngModel)]="email"/>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Address" name="address" [(ngModel)]="address"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" [disabled]="showSpinner">Click me!</button>
</form>
<app-spinner *ngIf="showSpinner"></app-spinner>
